<div class="container">
    <mat-card>
        <form (submit)="submit()">
            <div [formGroup]="loginForm">
                <mat-form-field class="mat-input">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
                <mat-form-field class="mat-input">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password">
                </mat-form-field>
                <p>Don't have an account? <a href="signup">Sign Up!</a></p>
                <div class="error-message" *ngIf="showErrorMessage">
                    <p>email or password incorrect!</p>
                </div>
                <button [disabled]="!loginForm.valid" type="button" mat-flat-button class="login-button" (click)="submit()">Login</button>
            </div>
        </form>
    </mat-card>
</div>